
<table>
  <thead>
    <tr>
      <td>Imágen</td>
      <td><%= t(:body) %></td>
      <% if label == 'slide' %>
        <td>Posición</td>
      <% end %>
      <td><%= t("slide.extra.fecha_#{label}") %> </td>
      <td>Fecha</td>
      <td>Tipo</td>
      <td>&nbsp;</td>
    </tr>
  </thead>
  <tbody>
    <% slides.each do |slide| %>
      <tr>
        <td>
          <% if slide.image %>
            <%= link_to image_tag(slide.image.public_filename(:thumb)), slide.image.public_filename  %>
          <% end %>
        </td>
        <td><%= truncate slide.body %></td>
        <% if label == 'slide' %>
          <td>
            <%= slide.pos %>
            <%= link_to image_tag('move_up.png'), up_slide_position_path(slide) %>
            <%= link_to image_tag('move_down.png'), down_slide_position_path(slide) %>
          </td>
        <% end %>
        <td><%= slide.date %></td>
        <td><%= t("slide.extra.ond#{slide.extra}") if slide.extra_meaning %></td>
        <td class="actions">
          <%= link_to 'Editar', edit_slide_path(slide) %>
          <%= link_to 'Borrar', slide_path(slide), :method => :delete, :confirm => "¿Estás seguro seguro de borrar esto?" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


