<div class="news"
     style="background-color: <%= c(actual.card.color.high_value) %>;
     color: <%= c(actual.card.color.value) %>;
     width: <%= actual.width %>px;">
  <p class="text">
    <span class="date"><%= year_of actual.date %> <% actual.card.tags.each do |tag|  %><%= tag.name %> <% end %></span>
    <span class="title"><%= link_to actual.card.title, actual.card.path, :style => "color: #{c(actual.card.color.value)};" %></span>
    <span class="body"><%= actual.body %></span>
  </p>
  <%= (link_to image_tag(actual.image.public_filename), actual.card.path) if actual.image %>
</div>
