<div class="selected"
     style="background-color: <%= c(selected.card.color.high_value) %>; 
     color: <%= c(selected.card.color.value) %>;
     width: <%= selected.image.width %>px;">
  <%= (link_to image_tag(selected.image.public_filename), selected.card.path) if selected.image %>
  <p class="data">
    <span class="category"><%= link_to selected.card.title, selected.card.path %></span>
    <span class="date"><%= year_of selected.date %></span>
  </p>
  <p class="body"><span><%= selected.body %></span></p>
</div>
