<div class="selected"
     style="background-color: <%= c(selected.card.color.high_value) %>; 
     color: <%= c(selected.card.color.value) %>;
     width: <%= selected.width %>px;">
  <div class="image">
    <%= (link_to_if selected.card.visible?, image_tag(selected.image.public_filename), selected.card.path) if selected.image %>
  </div>
  <div class="data">
    <div class="date"><%= year_of selected.date %></div>
    <div class="body"><%= textilize selected.body %></div>
  </div>
</div>
