<script type="text/javascript">
  var tagToCardIDs = {};
<% for tag in @tags %>
    tagToCardIDs[<%= tag.id -%>] = [<%= tag_ids tag %>];
<% end %>
  var cardIDs = [<%= @cards.map(&:id).join(',') %>];
</script>

<div id="grid">
  <div id="content">
    <% @cards.each do |card| %>
      <%= pinta_card(card) if card.visible? %>
      <%= pinta_milestones(card) if card.visible? %>
    <% end %>
    <div id="preview" style="display: none"></div>
    <div id="loading" style="display: none"><div id="spinner"></div></div>
  </div>
</div>
<ul id="tags" style="">
  <% @tags.each do |tag| %>
    <li>
      <a id="tag-<%= tag.id %>" class="tag tag-link" href="#" style="color: <%= c(tag.color.value) %>;"><%= tag.name %></a>
      <label id="ind-<%= tag.id %>" class="tag-indicator tag-link"
             style="color: <%= c(tag.color.value) %>; border-color: <%= c(tag.color.value) %>"><%= tag.name %></label>
    </li>
  <% end %>
</ul>
