<%= title t(:title) %>
<br/><br/>
<div class="columns">
  <div class="col2">
    <table>
      <thead>
        <tr><td>Nombre</td>
          <td>Color base</td>
          <td>Color clarito</td>
          <td/></tr>
      </thead>
      <tbody>
        <% @colors.each do |color| %>
          <tr>
            <td><%= color.name %></td>
            <td><%= color_example color.value %></td>
            <td><%= color_example color.high_value %></td>
            <td class="actions">
              <%= link_to 'Borrar' %>
              <%= link_to 'Editar', edit_color_path(color) %> 
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <div class="col2">
    <div class="nested">
      <h3>Añadir un color</h3>
      <%= render 'form' %>
    </div>
  </div>
</div>



