
<%= title 'Colores' %>

<div id="sidebar">
<div class="nested">
<h3>Añadir un color</h3>
<% form_for :color, @color, :url => {:action => 'add_color'} do |form| %>
<%= render :partial => 'color_form', :locals => {:form => form} %>
<%= submit_tag 'añadir color' %>
<% end -%>
</div>
</div>
<div class="spacer">&nbsp;</div>


<table>
<thead>
<tr><td>Nombre</td>
<td>Color base</td>
<td>Color clarito</td>
<td/></tr>
</thead>
<tbody>
<% for color in @colors %>
<tr><td><%= color.name %></td>
<td><%= color_example color.value %></td>
<td><%= color_example color.high_value %></td>
<td>
<%= link_to 'Editar', :action => 'editar_color', :id => color %> |
<%= link_to 'Borrar' %>
</td></tr>
<% end %>
</tbody>
</table>

<div class="spacer" style="clear: both;">&nbsp;</div>
<br/><br/><br/>

