<h2>Ficheros</h2>

<table>
  <thead>
    <tr>
      <td>Título</td>
      <td>Fichero</td>
      <td>Posición</td>
      <td/>
    </tr>
  </thead>
  <tbody>
    <% @card.files.each do |file| %>
      <tr>
        <td id="<%= "fileTitle#{file.id}" %>"><%= file.title %></td>
        <td><%= file.filename %></td>
        <td class="actions">
          <%= link_to 'Principal', '#' %>
          <%=  link_to 'Borrar', '#', :method => 'delete',
            :confirm => '¿Seguro que quieres borrar este fichero?' %>
          <%= link_to_function 'Renombrar', '#' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="nested">
  <h3>Añadir un fichero</h3>
  <% form_for [@card, @card_file], :html => {:multipart => true}  do |form| %>
    <p><label for="card_image_pohto">Archivo</label>
      <%= file_field_tag :file_data  %>
    </p>
    <p>
      <label for="card_image_position">Título</label>
      <%= text_field_tag :title  %>
    </p>
    <p>
      <%= submit_tag 'Añadir fichero' %>
    </p>
  <% end %>
</div>


