
<h2>Fotografías</h2>
<div class="actions">
  <%= link_to 'Reordenar imágenes', '#' %>
</div>

<table>
  <thead>
    <tr>
      <td>Imágen</td>
      <td>Comentario</td>
      <td>Posición</td>
      <td>Cuadradito</td>
      <td/>
    </tr>
  </thead>
  <tbody>
    <% @card.slides.each do |slide| %>
      <tr>
        <td><%= image_tag slide.image.public_filename(:thumb)  unless slide.image.nil? %></td>
        <td><%= slide.text %></td>
        <td><%= slide.pos %>
          <%= link_to image_tag('move_up.png'), '#' %>
          <%= link_to image_tag('move_down.png'), '#' %> </td>
        <td><%= slide.date %></td>
        <td class="actions">
          <%= link_to 'Principal', '#' %>
          <%= link_to 'Editar', '#' %>
          <%=  link_to 'Borrar', '#', :method => 'delete',
            :confirm => '¿Seguro que quieres borrar esta imágen?' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="nested">
  <h3>Añadir una foto</h3>
  <% form_for [@card, @slide], :html => {:multipart => true}  do |quick| %>
    <p>
      <label for="card_image_pohto">Foto</label>
      <%= file_field_tag :photo_data  %>
    </p>
    <%= submit_tag 'añadir imágen' %>
  <% end %>
</div>


