<%= title "Editar ficha '#{@card.title}'" %>


<div class="actions">
  <%= (link_to 'Borrar', @card, :method => 'delete',
    :confirm => "Estás a punto de borrar la ficha '#{@card.title}' ¿Estás segura?") unless @card.id == 1%>
  <%= action_separator %>
  <%= link_to 'Volver a la lista de fichas', cards_path %>
  <%= link_to 'Ver esta ficha en la web', "/#{@card.url}" %>
</div>

<%= render 'form' %>

<div class="columns">
  <a name="fotos"> </a>
  <div class="col2 claro">
    <h2>Fotografías</h2>
    <%= render :partial => '/slides/slides', :locals => {:slides => @card.photos, :label => @photo.rol} %>
    <%= render :partial => '/slides/form', :locals => {:card => @card, :slide => @photo, :form_label => t(@photo.rol), :form_submit => 'Añadir' } %>
  </div>
  <div class="col2">
    <a name="ficheros"> </a>
    <%= render 'files' %>
    <a name="seleccion"> </a>
    <h2>Selección</h2>
    <%= render :partial => '/slides/slides', :locals => {:slides => @card.selections, :label => @selected.rol } %>
    <%= render :partial => '/slides/form', :locals => {:slide => @selected, :form_label => t(@selected.rol), :form_submit => 'Añadir'} %>
    <a name="actual"> </a>
    <h2>Actual</h2>
    <%= render :partial => '/slides/slides', :locals => {:slides => @card.news, :label => @news.rol} %>
    <%= render :partial => '/slides/form', :locals => {:slide => @news, :form_label => t(@news.rol), :form_submit => 'Añadir'} %>
  </div>
</div>

