<%= title "Editar ficha '#{@card.title}'" %>


<div class="actions">
  <%= selection_actions(@card) %>
  <%= (link_to 'Borrar', @card, :method => 'delete',
    :confirm => "Estás a punto de borrar la ficha '#{@card.title}' ¿Estás segura?") unless @card.id == 1%>
  <%= action_separator %>
  <%= link_to 'Volver a la lista de fichas', cards_path %>
  <%= link_to 'Ver esta ficha en la web', @card %>
</div>

<%= render 'form' %>

<div class="columns">
  <div class="col2">
    <%= render 'slides' %>
  </div>
  <div class="col2">
    <%= render 'files' %>
  </div>
</div>

