<%= title t(:title) %>

<div class="actions">
  <%= link_to 'crear nueva ficha', new_card_path %>
</div>

<table style="width: 100%;">
  <thead>
    <tr>
      <td>Título</td>
      <td>Imágen</td>
      <td>Foto</td>
      <td>Posición</td>
      <td>Categorías</td>
      <td>Última edición</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <% @cards.each do |card| %>
      <tr class="<%= cycle("even", "odd") -%>">

        <td class="title">
          <%= link_to card.title, edit_card_path(card) %>
          <% if card.has_color %>
            <%= color_example card.color.value %>
            <%= color_example card.color.high_value %>
          <% end %>
        </td>

        <td><%= image_tag card.main_image.public_filename(:thumb)  unless card.main_image.nil? %></td>
        <td><%= image_tag card.main_slide.image.public_filename(:thumb)  unless card.main_slide.nil? %><br/>
          total: <%= card.slides.size %> fotos
        </td>

        <td>
          <% if card.visible? %>
            fila: <b><%= card.vposition %></b><br/>
            del <%= card.start.blank? ? '?' : card.start %><br/>
            hasta el <%= card.finish.blank? ? 'ahora' : card.finish %>
          <% else %>
            Invisible
          <% end %>
        </td>

        <td>
          <% for tag in card.tags %>
            <div class="card_tag" style="background-color: <%= "##{tag.color.value}" %>;">
              <%= tag.name %></div>
            <% end -%>
        </td>

        <td>
          hace <%= time_ago_in_words card.updated_at %>
        </td>

        <td class="actions">
          <%= (link_to 'Borrar', card, :method => 'delete',
            :confirm => "Estás a punto de borrar la ficha '#{card.title}' ¿Estás segura?") unless card.id == 1%>
          <%= link_to 'Ver', card_path(card) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
